.hierarchy-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.50);
}

.hierarchy-list-container {
  list-style: none;
  padding-left: 20px;
  margin: 5px 0;
}

.hierarchy-item {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  padding: 5px 0;
}

.toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 14px;
  user-select: none;
}

.toggle-icon:hover {
  background-color: #005f82;
}